!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Title
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'partials/_base.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" }
    = javascript_include_tag 'application'
    = javascript_include_tag 'main'

  %body.three-col
    #container
      = render :partial => "/shared/header"
      #flashes
        - flash.each do |key, msg|
          %div{ :class => "flash_#{key}"}= msg

      = yield

      = render :partial => "/shared/footer"
    = render :partial => "/shared/analytics"
