!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Title
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'main'

    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" }
    = javascript_include_tag 'application'
    = javascript_include_tag 'main'

  %body
    = render :partial => "/shared/header"
    #flashes
      - flash.each do |key, msg|
        %div{ :class => "flash_#{key}"}= msg

    = yield

    = render :partial => "/shared/footer"
